@font-face {
  font-family: "iconfont"; /* Project id 2645554 */
  src: url('./iconfont.eot?t=1714714343137'); /* IE9 */
  src: url('./iconfont.eot?t=1714714343137#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./iconfont.woff2?t=1714714343137') format('woff2'),
       url('./iconfont.woff?t=1714714343137') format('woff'),
       url('./iconfont.ttf?t=1714714343137') format('truetype'),
       url('./iconfont.svg?t=1714714343137#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-changfangxingbiankuangshangchuan:before {
  content: "\ebea";
}

.iconfont-line:before {
  content: "\e6bb";
}

.iconfont-arrow-up:before {
  content: "\e600";
}

.iconfont-arrow-up-copy:before {
  content: "\10155";
}

.iconfont-paihangbang-copy:before {
  content: "\ebe8";
}

.iconfont-diyiming:before {
  content: "\e765";
}

.iconfont-dierming:before {
  content: "\e766";
}

.iconfont-disanming:before {
  content: "\e767";
}

.iconfont-paihangbang_paiming:before {
  content: "\e763";
}

.iconfont-kaoshi:before {
  content: "\e754";
}

.iconfont-tubiao_nenglihuaxiang_nenglihuaxiang:before {
  content: "\e753";
}

.iconfont-yinhao:before {
  content: "\e64d";
}

.iconfont-yinhao1:before {
  content: "\e61c";
}

.iconfont-yinhao-copy:before {
  content: "\10153";
}

.iconfont-yinhao1-copy:before {
  content: "\10154";
}

.iconfont-a-1-tuiguangziliao1:before {
  content: "\ebe4";
}

.iconfont-youjian:before {
  content: "\e719";
}

.iconfont-xiazai1:before {
  content: "\e675";
}

.iconfont-a-3-huiyigonggao-copy:before {
  content: "\1014b";
}

.iconfont-a-1-goutonghuashu-copy:before {
  content: "\1014c";
}

.iconfont-a-2-tuiguangcelve-copy:before {
  content: "\1014d";
}

.iconfont-a-3-jingxuanhuodong-copy:before {
  content: "\1014a";
}

.iconfont-a-3-huiyigonggao:before {
  content: "\ebe0";
}

.iconfont-a-3-jingxuanhuodong:before {
  content: "\ebdb";
}

.iconfont-a-1-goutonghuashu:before {
  content: "\ebe1";
}

.iconfont-a-2-tuiguangcelve:before {
  content: "\ebe2";
}

.iconfont-yuanxing-weigouxuan_fuben6:before {
  content: "\ebe3";
}

.iconfont-a-1-tuiguangziliao-copy:before {
  content: "\1014e";
}

.iconfont-a-1-yixuehuandeng-copy:before {
  content: "\1014f";
}

.iconfont-a-1-tuiguangziliao:before {
  content: "\ebdc";
}

.iconfont-a-1-yixuehuandeng:before {
  content: "\ebdd";
}

.iconfont-a-1-huanjiaoziliao:before {
  content: "\ebde";
}

.iconfont-a-2-jingpinxinxi:before {
  content: "\ebdf";
}

.iconfont-a-1-huanjiaoziliao-copy:before {
  content: "\10150";
}

.iconfont-a-2-jingpinxinxi-copy:before {
  content: "\10151";
}

.iconfont-shouye2-copy:before {
  content: "\10140";
}

.iconfont-wode2-copy:before {
  content: "\10141";
}

.iconfont-shouye2-copy1:before {
  content: "\10148";
}

.iconfont-wode2-copy1:before {
  content: "\10149";
}

.iconfont-jixuxuexi:before {
  content: "\e797";
}

.iconfont-lingqujilu:before {
  content: "\e795";
}

.iconfont-fanhui:before {
  content: "\e6f9";
}

.iconfont-AK-YK_yuanquan_fill:before {
  content: "\e796";
}

.iconfont-gifts:before {
  content: "\e710";
}

.iconfont-a--ss-caisebichi1:before {
  content: "\e78d";
}

.iconfont--ss-caisebichi:before {
  content: "\e78e";
}

.iconfont-a-shubao1:before {
  content: "\e78f";
}

.iconfont-a-xiangmu2:before {
  content: "\e790";
}

.iconfont-shubao:before {
  content: "\e791";
}

.iconfont-a-xiangmu21:before {
  content: "\e792";
}

.iconfont--ss-caisebichi-copy:before {
  content: "\e798";
}

